{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
